body{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin: 0;
    text-align: center;
    font-family: Grenze Gotisch;
}

main{
    margin:40px;
    margin-top: 0;
}

nav {
    display: flex;
    flex-wrap: wrap;
    background-image: url(Pics/backheader.webp)  ;
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: space-between;
    text-align: left; 
    flex: 1;
}

nav ul{
       display: flex;
    gap: 24px;
    align-items: center;
    padding: 0%;
    justify-content: flex-start; /* <-- aligne les éléments à gauche */
    text-align: left;
}

nav ul li ul {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 100%;
    background: rgb(74, 0, 0,0.8);
    border-radius: 40px;
    padding: 5%;
    display: none; /* caché par défaut */
    flex-direction: column;
    width: 400%;
  }

  nav ul li:hover > ul {
    display: flex;
    justify-content: center;
  }

  nav ul li ul li a:hover {
    transition: all .3s ease-in-out;
  }

h1{
    font-size :4em;
    margin-bottom: -30px;
}

nav h3:hover, li:hover{
    transform: scale(1.05);
}

h2{
    font-size: 2.5em;
    margin-left: 10%;
    margin-top: 0;
}

h3{
    font-size: 2em;
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

#logolien, #droiteheader{
    display: flex;
    align-items: center;
}

header h1, header h2{
    font-size: 4em;
}

header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url(Pics/HeroBand.jpg);
    background-size: cover;
    height: calc(87vh);
    width: 100%;
}

.texthead, .titles{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.texthead p{
    margin: 0;
    font-size: 6em;
}


.texthead p:nth-child(1){
    display: flex;
    width: fit-content;
    width: fit-content;
    background-color: rgb(0, 0, 0,0.6);
    padding: 1%;
    border-radius: 10px;
}

.texthead p:nth-child(2){
    margin-left: 25%;
    font-size: 2em;
    margin-bottom: 20px;
}

b{
    font-size: 0.8em;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 16px;
    font-size: 1.5em;
}

#logo{
    height: 46px;
    width: 56px;
}

ul{
    list-style: none;
    display: flex;
    gap: 24px;
    align-items: end;
    font-size: 1.3em;
}

/*Buttons*/
    .button{
    display: flex;
    background-color: rgb(122, 27, 27);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    width: fit-content;
    height: fit-content;
    justify-content: center;
    padding: 9px;
    border: 2px solid #570303;
    transition: all .3s ease-in-out;
    }

    .button:hover{
    border-color: rgb(118, 11, 11);
    background-color: #570303;
    transform: scale(1.05);
    }


    .button.secondary{
    background-color:rgba(128, 7, 7, 0.5);
    }

    .button.secondary:hover{
    border-color: rgba(98, 0, 0, 0.2);
    color: rgb(255, 255, 255);
    background-color: rgba(86, 1, 1, 0.5);
    }

#panier{
    height: 20px;
    width: 20px;
    margin-top: 1%;
    margin-left: 6px;
}

#profil{
    width: 56px;
    height: 56px;
    margin-left: 15px;
    border-radius: 100%;
    border: 3px solid rgb(67, 1, 1);
}

.NamePrix{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.prix{
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 5%;
    color: #570303;
}

#BestShoes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

article p{
    font-family: Aubrey;
    margin: 3%;
    text-align: justify;
}

article .button{
    width: 100%;
}

article{
    position: relative;
    display: flex;
    color: black;
    flex-direction: column;
    border: 3px solid rgb(82, 82, 82);
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    width: 23%;
    height: auto;
    overflow:auto;
    margin-top: 0;
}

.description{
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;
}

article .badge {
    position: absolute;
    top: 10px;
    right: 10px;
    width: fit-content;
    height: fit-content;
    background:rgb(122, 27, 27);
    border: 2px solid #570303;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 1;
    transition: all .3s ease-in-out;
}

article .badge:hover{
    transform: scale(1.03);
}

article h2{
    font-size: 1.7em;
    margin: 0;
}


article img{
    width: 100%;
}

.bottom{
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 0;
}

#prefooter{
    background-color:rgb(26, 0, 0);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: fit-content;
}

.partof{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.bottomlist{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
    padding: 0;
    gap: 10px;
}s

#prefooter img{
    width: auto;
    height: auto;
}