body{
    background-color: rgb(0, 0, 0);
    color: rgb(217, 215, 215);
    margin: 0;
    text-align: center;
    font-family: Grenze Gotisch;
}

main{
    margin:40px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    background-image: url(Pics/backheader.webp)  ;
    padding: 15px;
    justify-content: space-between;
}

h1{
    font-size :4em;
    margin-bottom: 0;
}

h2{
    font-size: 2.5em;
    margin-left: 10%;
    margin-top: 0;
}

h3{
    font-size: 2em;
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

#logolien, #droiteheader{
    display: flex;
    align-items: center;
}

#logo{
    height: 56px;
    width: 56px;
}

ul{
    list-style: none;
    display: flex;
    gap: 24px;
    align-items: end;
    font-size: 1.3em;
}


    .button{
    display: flex;
    background-color: rgb(122, 27, 27);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    width: fit-content;
    height: fit-content;
    padding: 12px;
    margin: 10px;
    border: 2px solid #570303;
    transition: all .3s ease-in-out;
    }

    .button.primary{
    background: blueviolet;
    color: white;
    }

    .button.primary:hover{
    background: rgb(169, 121, 214); 
    border-color: rgb(169, 121, 214);
    }

    .button.secondary{
    color: blueviolet;
    background: transparent;
    }

    .button.secondary:hover{
    border-color: rgb(169, 121, 214);
    color: rgb(169, 121, 214);
    }

#panier{
    height: 20px;
    width: 20px;
    margin-top: 1%;
    margin-left: 6px;
}

#profil{
    width: 56px;
    height: 56px;
    border-radius: 100%;
    border: 3px solid rgb(67, 1, 1);
}

.NamePrix{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#BestShoes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

article p{
    font-family: Aubrey;
    margin: 0;
    margin-right: 3%;
    margin-left: 3%;
}

.un, .deux{
    display: flex;
    color: black;
    flex-direction: column;
    border: 3px solid rgb(82, 82, 82);
    border-radius: 20px;
    background-color: rgb(224, 224, 224);
    width: 23%;
    height: auto;
    overflow:auto;  
    justify-content: space-between;  
}

.description{
    padding-right: 10px;
    padding-left: 10px;
}

article h2{
    font-size: 1.7em;
    margin: 0;
}


article img{
    width: 100%;
}

.bottom{
    display: flex;
    justify-content: center;
}